NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_LAIGHTWORKS_LOGIN_URL=https://laightworks.com/login
GLASSSPIDER_PROJECT_SLUG=glassspider
GLASSSPIDER_ADMIN_ROLES=owner,admin
GLASSSPIDER_CRON_SECRET=
